@import "tailwindcss";
@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }
}
