.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
}

.loader-text {
  font-size: 4rem;
  font-weight: bold;
  /* animation: fade 1s ease-in-out infinite; */
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.loader-screen.exit {
  animation: slideUp 0.5s ease forwards;
}
